<!--
SPDX-FileCopyrightText: 2024 Jonah Brüchert <jbb@kaidan.im>

SPDX-License-Identifier: AGPL-3.0-or-later
-->

<style>
summary {
  margin-top: 60px;
}

summary h2,
summary h3 {
  display: inline;
}
</style>

{{ $lastCountry := "_initial_" }}
{{ $lastSubdivision := "" }}
{{ range $index, $source := $.Site.Data.license }}
  {{ $country := .country_name }}
  {{ $subdivision := .subdivision_name }}

  <!--If new region, open a new <details> section -->
  {{ if ne $country $lastCountry }}
    <!-- If it's not the first <details> section, first close the previous one -->
    {{ if $lastSubdivision }}
      </details>
      {{ $lastSubdivision = "" }}
    {{ end }}
    {{ if ne $lastCountry "_initial_" }}
      </details>
    {{ end }}
    <details>
      <summary><h2>{{ .country_name }}</h2></summary>
  {{ end }}

  {{ if ne $subdivision $lastSubdivision }}
    {{ if $lastSubdivision }}
      </details>
    {{ end }}
    {{ if $subdivision }}
    <details style="margin-left: 50px;">
      <summary><h3>{{ .subdivision_name }}</h3></summary>
    {{ end }}
  {{ end }}

  <h4>{{ .human_name }}</h4>

  <p>Data from {{ (urls.Parse $source.source).Host }} is used

  {{ if or $source.license_url $source.spdx_license_identifier }}
    under
    {{ if $source.license_url }}
    <a href="{{ .license_url }}">these conditions</a>
    {{ else }}
    <a href="https://spdx.org/licenses/{{ .spdx_license_identifier }}.html">{{ .spdx_license_identifier }}</a>
    {{ end }}
  {{ end }}

  for the following operators:

  {{ if $source.operators }}
    {{ if compare.Gt (len $source.operators) 10 }}
      <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ crypto.SHA256 .source }}" aria-expanded="false" aria-controls="collapse-{{ crypto.SHA256 $source.source }}">
        Show Operators…
      </button>

      <div class="collapse mt-2 mb-2" id="collapse-{{ crypto.SHA256 $source.source }}">
        <div>
          <p class="fs-6">
          {{ delimit $source.operators ", " }}
          </p>
        </div>
      </div>
    {{ else }}
      <p class="fs-6">{{ delimit $source.operators ", " }}</p>
    {{ end }}
  {{ end }}

  {{ if and $source.publisher.name $source.publisher.url }}
    <p>
    It is published by <a href="{{ $source.publisher.url }}">{{ $source.publisher.name }}</a>.
    </p>
  {{ end }}

  {{ if $source.attributions }}
    <p>
    It contains information under copyright of
    {{ range $index, $attribution := $source.attributions }}
      {{ if and $attribution.url $attribution.name }}
        <a href="{{ $attribution.url }}">{{ $attribution.name }}</a>{{ if compare.Lt $index (sub (len $source.attributions) 1) }},{{ else }}.{{ end }}
      {{ end }}
    {{ end }}
    </p>
  {{ end }}

  <a class="btn btn-outline-secondary" href="{{ $source.source }}">Original File</a>
  <a class="btn btn-outline-secondary" href="https://api.transitous.org/gtfs/{{ $source.filename }}">Processed File</a>

  {{ if or $source.rt }}
    {{ range $rt_source := $source.rt }}
    <p class="mt-3 fs-6">
    Realtime data sourced from <a href="{{ $rt_source.source }}">{{ (urls.Parse $rt_source.source).Host }}</a>
    {{- if or $source.rt_license_url $source.rt_spdx_license_identifier }}
      is used under
      {{ if $source.rt_license_url }}
      <a href="{{ $rt_source.license_url }}">these conditions</a>
      {{ else }}
      <a href="https://spdx.org/licenses/{{ $rt_source.spdx_license_identifier }}.html">{{ .rt_spdx_license_identifier }}</a>
      {{ end }}
    {{- end }}.
    </p>
    {{ end }}
  {{ end }}
  <!-- Update lastRegion value -->
  {{ $lastCountry = $country }}
  {{ $lastSubdivision = $subdivision }}
{{ end }}
<!-- Close last <details> -->
{{ if ne $lastSubdivision "_initial_" }}
  </details>
{{ end }}
{{ if ne $lastCountry "_initial_" }}
  </details>
{{ end }}

<script src="/bootstrap.min.js"></script>
