# SPDX-FileCopyrightText: 2025 Jonah Brüchert <jbb@kaidan.im>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

[Interface]
PrivateKey = {{ transitous_wireguard_privkey }}
ListenPort = 55107
Address = 10.11.0.1/16

# crunchy.spline.de
[Peer]
PublicKey = YN+zSohiAOl0OmdscCV5/IfgEu0geEgBoqUtVSaKNxg=
AllowedIPs = 10.11.1.1/32

# vm-motis.spline.de
[Peer]
PublicKey = dYxRxTZDiX7ckSXPpRiJNK44bRnsv0wk5Buzl6YxQVQ=
AllowedIPs = 10.11.1.2/32
