# SPDX-FileCopyrightText: 2024 Jonah Brüchert <jbb@kaidan.im>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

[Unit]
Description=Update MOTIS Feeds

[Timer]
Unit=motis-update-feeds.service
OnCalendar=*-*-* {{ motis_update_time }}

[Install]
WantedBy=timers.target
