# SPDX-FileCopyrightText: 2024 Jonah Brüchert <jbb@kaidan.im>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

[Unit]
Description=Update MOTIS Feeds

[Service]
Type=oneshot
ExecStart=/usr/local/bin/motis-update-feeds
CPUAccounting=true
MemoryAccounting=true
IOAccounting=true
MemoryHigh=80G
MemoryMax=90G
CPUWeight=20
CPUQuota=1000%
IOWeight=20

[Install]
#WantedBy=multi-user.target
