# SPDX-FileCopyrightText: 2024 Jonah Brüchert <jbb@kaidan.im>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

[Unit]
Description=Update MOTIS Feeds

[Service]
Type=oneshot
ExecStart=/usr/local/bin/motis-update-feeds

[Install]
WantedBy=multi-user.target
