# SPDX-FileCopyrightText: 2024 Jonah Brüchert <jbb@kaidan.im>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

[Unit]
Description=Woodpecker CI Agent
After=network.target

[Service]
Environment="WOODPECKER_SERVER=vm-motis-import.spline.de:9000"
Environment="WOODPECKER_AGENT_SECRET={{ transitous_woodpecker_agent_secret }}"
Environment="WOODPECKER_MAX_WORKFLOWS=1"
Environment="WOODPECKER_BACKEND_DOCKER_VOLUMES=/var/cache/transitous/downloads/:/woodpecker/src/github.com/public-transport/transitous/downloads/,/var/cache/transitous/out/:/woodpecker/src/github.com/public-transport/transitous/out/"
User=woodpecker-agent
Group=nogroup
Restart=always
ExecStart=/usr/local/bin/woodpecker-agent

[Install]
WantedBy=multi-user.target
