# SPDX-FileCopyrightText: 2024 Jonah Brüchert <jbb@kaidan.im>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

{% if flavour != "import" %}
#modules=address
modules=adr
modules=osr
modules=tiles
#modules=osrm
#modules=ppr
#modules=parking
{% endif %}
{% if flavour != "osm" %}
modules=nigiri
modules=intermodal

intermodal.router=nigiri
{% endif %}

[server]
host=127.0.0.1

[import]
{% if coastline_file and flavour != "import" %}paths=coastline:{{ coastline_file }}{% endif %}
{% if pbf_file and flavour != "import" %}paths=osm:{{ pbf_file }}{% endif %}
{% if flavour != "osm" %}
{% for feed in gtfs_feeds %}paths=schedule-{{ feed.id }}:{{ feed.path }}
{% endfor %}
{% endif %}

{% if flavour != "osm" %}
[nigiri]
first_day=TODAY
num_days=365
match_duplicates=true
{% if flavour != "import" %}
{% for feed in gtfsrt_feeds %}gtfsrt={{ feed.id }}|{{ feed.url }}{% if feed.authorization %}|{{ feed.authorization }}{% endif %}
{% endfor %}
{% endif %}
[intermodal]
timeout = 30
{% endif %}

[tiles]
profile=/opt/motis/tiles-profiles/profile.lua
{% if coastline_file and flavour != "import" %}import.use_coastline=true{% endif %}
