# SPDX-FileCopyrightText: 2024 Jonah Brüchert <jbb@kaidan.im>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

{% if flavour != "import" %}
modules=address
modules=tiles
modules=osrm
modules=ppr
#modules=parking
{% endif %}
modules=nigiri
modules=intermodal

intermodal.router=nigiri
dataset.no_schedule=true


[server]
host=127.0.0.1

[import]
{% if pbf_file and flavour != "import" %}paths=osm:{{ pbf_file }}{% endif %}
{% for feed in gtfs_feeds %}paths=schedule-{{ feed.id }}:{{ feed.path }}
{% endfor %}
[nigiri]
first_day=TODAY
num_days=365
{% if flavour != "import" %}
{% for feed in gtfsrt_feeds %}gtfsrt={{ feed.id }}|{{ feed.url }}|{{ feed.authorization }}
{% endfor %}
{% endif %}
[osrm]
profiles=/opt/motis/osrm-profiles/car.lua
profiles=/opt/motis/osrm-profiles/bike.lua

[ppr]
profile=/opt/motis/ppr-profiles/default.json

[tiles]
profile=/opt/motis/tiles-profiles/background.lua
