# SPDX-FileCopyrightText: 2024 Jonah Brüchert <jbb@kaidan.im>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

server {
    listen 80;
    server_name {{ item.vhost }};

    # For certbot
    location ^~ /.well-known/acme-challenge/ {
        root /var/www/html/;
    }

    return 301 https://$host$request_uri;
}

server {
    listen 443 http2 ssl;
    listen [::]:443 http2 ssl;

    # Override TLS settings from included file
    ssl_protocols TLSv1.2 TLSv1.3;

    ssl_ecdh_curve X25519:prime256v1:secp384r1;
    ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-CHACHA20-POLY1305;
    ssl_prefer_server_ciphers off;

    # see also ssl_session_ticket_key alternative to stateful session cache
    ssl_session_timeout 1d;
    ssl_session_cache shared:MozSSL:10m;  # about 40000 sessions

    # OCSP stapling
    ssl_stapling on;
    ssl_stapling_verify on;

    server_name {{ item.vhost }};

    ssl_certificate /etc/letsencrypt/live/api.transitous.org/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/api.transitous.org/privkey.pem;

    charset UTF-8;

    # For certbot
    location ^~ /.well-known/acme-challenge/ {
        root /var/www/html/;
    }

    # MOTIS Web Interface
    location / {
        root /opt/motis/ui/;
    }

    # Proxy and cache tiles
    location /tiles/ {
        proxy_pass {{ item.backend }}/tiles/;

        proxy_pass_header Server;

        proxy_cache            motis;
        proxy_cache_valid      200 302 404 5d;
        proxy_cache_use_stale  error timeout invalid_header updating
                                http_500 http_502 http_503 http_504;
    }

    # Rate limit plan API
    location ~ ^/api/(v1|v2|experimental)/(plan|one-to-all) {
        proxy_pass {{ item.backend }}$request_uri;

        limit_req zone=api_plan burst=10;

        proxy_pass_header Server;

        proxy_connect_timeout       60;
        proxy_send_timeout          60;
        proxy_read_timeout          120;
        send_timeout                60;
    }

    # Routes that are basically free for us don't need a rate limit
    location ~ ^/api/(v1|v2|experimental)/(geocode|stoptimes|map/stops|trip) {
        proxy_pass {{ item.backend }}$request_uri;

        limit_req zone=api_harmless burst=10;

        proxy_pass_header Server;

        proxy_connect_timeout       60;
        proxy_send_timeout          60;
        proxy_read_timeout          120;
        send_timeout                60;
    }

    # MOTIS
    location /api/ {
        proxy_pass {{ item.backend }}/api/;

        limit_req zone=api burst=10;

        proxy_pass_header Server;

        proxy_connect_timeout       60;
        proxy_send_timeout          60;
        proxy_read_timeout          60;
        send_timeout                60;
    }

    # Source files
    location /gtfs/ {
        proxy_pass http://crunchy:80/;
    }

    location /robots.txt {
        alias /var/www/html/robots.txt;
    }
}
