# SPDX-FileCopyrightText: 2024 Jonah Brüchert <jbb@kaidan.im>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

server {
    listen 443 http2 ssl;
    listen [::]:443 http2 ssl;

    {% if transitous_nginx_site_include_extra %}
    include '{{ transitous_nginx_site_include_extra }}';
    {% endif %}

    # Override TLS settings from included file
    ssl_protocols TLSv1.2 TLSv1.3;

    server_name {{ transitous_domain }};

    location ~ ^/$ {
        if ($arg_motis != https%3A%2F%2F{{ transitous_domain }}%2Fapi) {
                return 301 https://$host?motis=https%3A%2F%2F{{ transitous_domain }}%2Fapi;
        }

        root /opt/motis/web/;
    }

    # MOTIS Web Interface
    location / {
        root /opt/motis/web/;
    }

    # Proxy and cache tiles
    location /api/tiles/ {
        proxy_pass http://localhost:8080/tiles/;

        proxy_cache            motis;
        proxy_cache_valid      200 302 404 5d;
        proxy_cache_use_stale  error timeout invalid_header updating
                                http_500 http_502 http_503 http_504;
    }

    # MOTIS Proxy
    location /api/ {
        proxy_pass http://localhost:8000/;

        proxy_set_header Forwarded $remote_addr;
    }

    # API Documentation
    location ~ ^/(doc/|openapi.json) {
        proxy_pass http://localhost:8000;
    }

    # Source files
    location /gtfs/ {
        alias /srv/rsync/transitous/;
        autoindex on;
    }
}
