# SPDX-FileCopyrightText: 2024 Jonah Brüchert <jbb@kaidan.im>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

server {
    listen 443 http2 ssl;
    listen [::]:443 http2 ssl;

    {% if transitous_nginx_site_include_extra %}
    include '{{ transitous_nginx_site_include_extra }}';
    {% endif %}

    # Override TLS settings from included file
    ssl_protocols TLSv1.2 TLSv1.3;

    server_name {{ transitous_domain }};

    charset UTF-8;

    # MOTIS Web Interface
    location / {
        root /opt/motis/ui/_app/;
    }

    # Proxy and cache tiles
    location /api/v1/tiles/ {
        proxy_pass http://localhost:8080/tiles/;

        proxy_cache            motis;
        proxy_cache_valid      200 302 404 5d;
        proxy_cache_use_stale  error timeout invalid_header updating
                                http_500 http_502 http_503 http_504;
    }

    # MOTIS
    location /api/ {
        proxy_pass http://localhost:8080/;

        proxy_connect_timeout       60;
        proxy_send_timeout          60;
        proxy_read_timeout          60;
        send_timeout                60;

        proxy_set_header Forwarded $remote_addr;
    }

    # Source files
    location /gtfs/ {
        return 301 https://routing-import.spline.de/gtfs/
    }
}
