# SPDX-FileCopyrightText: 2025 Traines <git@traines.eu>
#
# SPDX-License-Identifier: AGPL-3.0-or-later
#

proxy_cache_path /var/cache/nginx/feed-proxy max_size=10g keys_zone=feed-proxy:10m inactive=1h;

limit_req_zone $binary_remote_addr zone=feed-proxy-quota:10m rate=10000r/m;
limit_req_status 429;


# crazy hack because nginx doesn't support escaping $
geo $dollar {
    default "$";
}

server {
    listen 80;
    listen [::]:80;
    server_name {{ feed_proxy_host }};

    include ./conf.d/feed-proxy-http-default;

    proxy_ssl_server_name on;

    proxy_pass_header Server;
    proxy_set_header User-Agent {{ feed_proxy_host }};
    add_header X-Cache $upstream_cache_status;
    add_header Link '<https://transitous.org/sources/>; rel="license"';

    proxy_cache            feed-proxy;
    proxy_cache_key   "$proxy_host$request_uri";
    proxy_buffering on;
    proxy_ignore_headers Set-Cookie;
    proxy_ignore_headers X-Accel-Expires;
    proxy_ignore_headers Expires;
    proxy_ignore_headers Cache-Control;
    proxy_http_version 1.1;
    proxy_intercept_errors on;
    error_page 301 302 307 308 = @handle_redirects;
    proxy_cache_valid      200 40s;
    proxy_cache_valid      400 401 403 404 200s;
    proxy_ignore_client_abort on;
    proxy_cache_use_stale  error timeout invalid_header updating
                            http_500 http_502 http_503 http_504 http_429;

    limit_req zone=feed-proxy-quota burst=10000 nodelay;

    {% for item in feed_vars | dict2items %}   
        location "/feed/{{item.key}}" {
            set $feed_upstream "{{ item.value.url | replace('\\', '\\\\') | replace('"', '\\"') | replace('$', '$dollar') }}";
            proxy_pass $feed_upstream; 

            {% if "headers" in item.value %}
                {% for header in item.value.headers | dict2items -%}
                    proxy_set_header "{{ header.key }}" "{{ header.value | replace('\\', '\\\\') | replace('"', '\\"') | replace('$', '$dollar') }}";
                {% endfor %}
            {% endif %}            
        }
    {% endfor %}

    location @handle_redirects {
       set $original_uri "$proxy_host$request_uri";
       set $original_host "$proxy_host";
       set $orig_loc "$upstream_http_location";

       proxy_cache       feed-proxy;
       proxy_cache_key $original_uri;
       proxy_cache_valid 200 40s;
       proxy_cache_valid 400 401 403 404 200s;

       if ($orig_loc ~* "://") {
         proxy_pass $orig_loc;
         break;
       }
       # handle relative redirect
       if ($orig_loc !~* "://") {
         proxy_pass $scheme://$original_host$orig_loc;
         break;
       }
    }
}

server {
    listen 443 http2 ssl;
    listen [::]:443 http2 ssl;

    server_name {{ feed_proxy_host }};

    include ./conf.d/feed-proxy-https-default;

    proxy_ssl_server_name on;
    
    proxy_pass_header Server;
    proxy_set_header User-Agent {{ feed_proxy_host }};
    add_header X-Cache $upstream_cache_status;
    add_header Link '<https://transitous.org/sources/>; rel="license"';

    proxy_cache            feed-proxy;
    proxy_cache_key   "$proxy_host$request_uri";
    proxy_buffering on;
    proxy_ignore_headers Set-Cookie;
    proxy_ignore_headers X-Accel-Expires;
    proxy_ignore_headers Expires;
    proxy_ignore_headers Cache-Control;
    proxy_http_version 1.1;
    proxy_intercept_errors on;
    error_page 301 302 307 308 = @handle_redirects;
    proxy_cache_valid      200 40s;
    proxy_cache_valid      400 401 403 404 200s;
    proxy_ignore_client_abort on;
    proxy_cache_use_stale  error timeout invalid_header updating
                            http_500 http_502 http_503 http_504 http_429;

    limit_req zone=feed-proxy-quota burst=10000 nodelay;

    {% for item in feed_vars | dict2items %}   
        location "/feed/{{item.key}}" {
            set $feed_upstream "{{ item.value.url | replace('\\', '\\\\') | replace('"', '\\"') | replace('$', '$dollar') }}";
            proxy_pass $feed_upstream;  

            {% if "headers" in item.value %}
                {% for header in item.value.headers | dict2items -%}
                    proxy_set_header "{{ header.key }}" "{{ header.value | replace('\\', '\\\\') | replace('"', '\\"') | replace('$', '$dollar') }}";
                {% endfor %}
            {% endif %}            
        }
    {% endfor %}
    
    location @handle_redirects {
       set $original_uri "$proxy_host$request_uri";
       set $original_host "$proxy_host";
       set $orig_loc "$upstream_http_location";

       proxy_cache       feed-proxy;
       proxy_cache_key $original_uri;
       proxy_cache_valid 200 40s;
       proxy_cache_valid 400 401 403 404 200s;

       if ($orig_loc ~* "://") {
         proxy_pass $orig_loc;
         break;
       }
       # handle relative redirect
       if ($orig_loc !~* "://") {
         proxy_pass $scheme://$original_host$orig_loc;
         break;
       }
    }
}


{% for item in feed_vars | dict2items -%}   
{% if "gbfs" in item.value -%}

server {
    listen 80;
    listen [::]:80;
    server_name "{{ item.value.url | urlsplit('hostname') }}";

    include ./conf.d/feed-proxy-http-default;

    proxy_ssl_server_name on;

    proxy_pass_header Server;
    proxy_set_header User-Agent {{ feed_proxy_host }};
    add_header X-Cache $upstream_cache_status;
    add_header Link '<https://transitous.org/sources/>; rel="license"';

    proxy_cache            feed-proxy;
    proxy_buffering on;
    proxy_ignore_headers Set-Cookie;
    proxy_ignore_headers X-Accel-Expires;
    proxy_ignore_headers Expires;
    proxy_ignore_headers Cache-Control;
    proxy_http_version 1.1;
    proxy_cache_valid      200 80s;
    proxy_cache_valid      400 401 403 404 200s;
    proxy_ignore_client_abort on;
    proxy_cache_use_stale  error timeout invalid_header updating
                            http_500 http_502 http_503 http_504 http_429;

    limit_req zone=feed-proxy-quota burst=10000 nodelay;

    location / {
        set $feed_upstream "{{ item.value.url | urlsplit('scheme') }}://{{ item.value.url | urlsplit('hostname') }}";
        proxy_pass $feed_upstream;

        {% if "headers" in item.value -%}
            {% for header in item.value.headers | dict2items -%}
                proxy_set_header "{{ header.key }}" "{{ header.value | replace('\\', '\\\\') | replace('"', '\\"') | replace('$', '$dollar') }}";
            {% endfor %}
        {% endif %} 
    }  
}

server {
    listen 443 http2 ssl;
    listen [::]:443 http2 ssl;

    server_name "{{ item.value.url | urlsplit('hostname') }}";

    include ./conf.d/feed-proxy-https-default;

    proxy_ssl_server_name on;

    proxy_pass_header Server;
    proxy_set_header User-Agent {{ feed_proxy_host }};
    add_header X-Cache $upstream_cache_status;
    add_header Link '<https://transitous.org/sources/>; rel="license"';

    proxy_cache            feed-proxy;
    proxy_buffering on;
    proxy_ignore_headers Set-Cookie;
    proxy_ignore_headers X-Accel-Expires;
    proxy_ignore_headers Expires;
    proxy_ignore_headers Cache-Control;
    proxy_http_version 1.1;
    proxy_cache_valid      200 80s;
    proxy_cache_valid      400 401 403 404 200s;
    proxy_ignore_client_abort on;
    proxy_cache_use_stale  error timeout invalid_header updating
                            http_500 http_502 http_503 http_504 http_429;

    limit_req zone=feed-proxy-quota burst=10000 nodelay;

    location / {
        set $feed_upstream "{{ item.value.url | urlsplit('scheme') }}://{{ item.value.url | urlsplit('hostname') }}";
        proxy_pass $feed_upstream;        

        {% if "headers" in item.value -%}
            {% for header in item.value.headers | dict2items -%}
                proxy_set_header "{{ header.key }}" "{{ header.value | replace('\\', '\\\\') | replace('"', '\\"') | replace('$', '$dollar') }}";
            {% endfor %}
        {% endif %} 
    }           
}

{% endif %}
{% endfor %}
