# SPDX-FileCopyrightText: 2025 Jonah Brüchert <jbb@kaidan.im>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

[Unit]
Description=GPS Collector
After=network.target

[Service]
User=crowd-sourced-realtime
Group=nogroup
Restart=always
ExecStart=/usr/local/bin/transitous-gps-collector
WorkingDirectory=/var/cache/transitous/out/gps-collector/

ProtectSystem=strict
PrivateDevices=yes
ProtectKernelTunables=yes
ProtectProc=invisible
NoNewPrivileges=yes
ProtectClock=yes
SystemCallArchitectures=native
RestrictNamespaces=yes
RestrictSUIDSGID=yes
LockPersonality=yes
RestrictRealtime=yes
RestrictAddressFamilies=AF_INET AF_INET6
MemoryDenyWriteExecute=yes
ProtectHostname=yes
CapabilityBoundingSet=
RemoveIPC=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectHome=yes
PrivateTmp=yes
ProcSubset=pid
SystemCallFilter=~@clock
SystemCallFilter=~@cpu-emulation
SystemCallFilter=~@debug
SystemCallFilter=~@module
SystemCallFilter=~@mount
SystemCallFilter=~@obsolete
SystemCallFilter=~@privileged
SystemCallFilter=~@raw-io
SystemCallFilter=~@reboot
SystemCallFilter=~@resources
SystemCallFilter=~@swap
PrivateUsers=self
ProtectControlGroups=yes
DevicePolicy=closed

[Install]
WantedBy=multi-user.target
