/*
 * SPDX-FileCopyrightText: 2024 Jonah Brüchert <jbb@kaidan.im>
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

.btn-primary {
  --bs-btn-bg: #F4AB45;
  --bs-btn-border-color: #e69e41;
  --bs-btn-hover-bg: #d9963d;
  --bs-btn-hover-border-color: #b57d33;
  --bs-btn-active-bg: #cf8f3a;
  --bs-btn-color: #000000;
  --bs-btn-hover-color: #000000;
  --bs-btn-active-color: #000000;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #F4AB45;
}

.dropdown-item-active {
  background-color: var(--bs-dropdown-link-active-bg);
}

.app-card a {
  text-decoration: none;
  color: var(--bs-heading-color)
}

.app-card a:hover {
  color: var(--bs-heading-color)
}

.app-card:hover {
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.app-card-row {
  display: grid;
  grid-auto-flow: column;
  overflow-x: scroll;
  padding-bottom: 1em;
  align-items: left;
  justify-content: left;
  gap: 20px;
}

.cursor-shape-pointer:hover {
  cursor: pointer;
}
