<!--
SPDX-FileCopyrightText: 2024 Jonah Brüchert <jbb@kaidan.im>

SPDX-License-Identifier: AGPL-3.0-or-later
-->

{{ $featured_image := partial "func/GetFeaturedImage.html" . }}

<style>
@media only screen and (max-width: 800px) {
  .reverse-column-if-small {
    flex-direction: column-reverse;
  }
}
</style>

{{ if $featured_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  <header class="cover bg-top" style="background-image: url('{{ $featured_image }}');">
    <div class="bg-black-60">
      {{ partial "site-navigation.html" . }}
      <div class="text-center pv6 ph3 ph4-ns">

        <div class="container" style="max-width: 900px">
          <div class="row reverse-column-if-small">
            <div style="width: 350px; float: none; margin: 0 auto;">
              <div id="searchbox" class="card" style="margin-bottom: 50px"></div>
              <script src="/index.js"></script>
              <script>window.TransitousWidget.main("searchbox")(window.TransitousWidget.noLocation)(window.TransitousWidget.noLocation)()</script>
            </div>

            <div class="col">
              {{ if not .Params.omit_header_text }}
                <div class="f2 f1-l fw2 white-90 mb0 lh-title" style="margin-top: 40px">
                {{ if .Params.logo }}
                <img style="height: 70px" alt="{{ .Params.logo_alt }}" src="{{ .Params.logo }}">
                {{ end }}
                {{ if .Title }}
                  {{ .Title }}
                {{ end }}
                </div>
                {{ with .Params.description  }}
                  <div class="f5 f3-l white-80 measure-wide-l center lh-copy mt3 mb4" style="margin-bottom: 80px">
                    {{ . }}
                  </div>
                {{ end }}
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
{{ else }}
  <header>
    <div class="{{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ end }}
