# SPDX-FileCopyrightText: 2024 Jonah Brüchert <jbb@kaidan.im>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

[Unit]
Description=MOTIS public transport router
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/motis/motis server
Restart=always
RestartSec=15
TimeoutStartSec=300
User=motis
WorkingDirectory=/var/lib/motis
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
